##  Web Scraping homeowrk


### import dependencies

In [1]:
# import
import requests
import pymongo
import pandas as pd
import time
from webdriver_manager.chrome import ChromeDriverManager

# from selenium import webdriver
# from selenium.webdriver.chrome.service import Service


from splinter import Browser
from bs4 import BeautifulSoup

In [2]:
# open chrome driver browser for scraping
#executable_path = {'executable_path': 'chromedriver.exe'}
#browser = Browser('chrome', **executable_path, headless=False)

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [/Users/sanureetbhullar/.wdm/drivers/chromedriver/mac64/91.0.4472.19/chromedriver] found in cache

## NASA Mars News - Collect news title and paragraph text

In [3]:
# define url
mars_news_url = "https://redplanetscience.com/"
browser.visit(mars_news_url)

# Create BeautifulSoup
html = browser.html
mars_news_soup = BeautifulSoup(html, 'html.parser')

In [4]:
# Find the news title and paragraph
news_title = mars_news_soup.body.find('div', class_='content_title').text

news_paragraph = mars_news_soup.body.find('div', class_='article_teaser_body').text

#close the browser

print(f"The Title is: \n{news_title}")
print()
print(f"The Paragraph is: \n{news_paragraph}")

The Title is:
NASA's Perseverance Mars Rover Gets Its Wheels and Air Brakes

The Paragraph is:
After the rover was shipped from JPL to Kennedy Space Center, the team is getting closer to finalizing the spacecraft for launch later this summer.

## Mars Space Images

In [8]:
mars_image_url = "https://spaceimages-mars.com"
browser.visit(mars_image_url)

In [9]:
# Create soup and click on full image button
browser.links.find_by_partial_text('FULL IMAGE').click()

image_html = browser.html
mars_image_soup = BeautifulSoup(image_html, 'html.parser')

image = mars_image_soup.body.find("figure", class_="lede")

link = image.find('a')
href = link['href']

base_url='https://redplanetscience.com/'

# Create full url
featured_image_url = base_url + href


featured_image_url

AttributeError: 'NoneType' object has no attribute 'find'

## Mars Facts

In [7]:
# Define url
mars_facts_url = "https://galaxyfacts-mars.com"

# html into panda
tables = pd.read_html(mars_facts_url)

tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [13]:
type(tables)
tables_df = tables[0]
tables_df.column = ['Mars', 'Earth']

tables_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [ ]:
#